html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -1302px;
   float:left
}
div#container
{
   width: 960px;
   height: 2604px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
   margin: 0;
}
#MediaPlayer2
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_MediaPlayer2
{
   overflow: hidden !important;
   position: fixed !important;
   left: 0 !important;
   top: 0 !important;
   width: 100% !important;
   height: 100% !important;
}
#MediaPlayer1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer2
{
   background-color: #FBFBFB;
   background-image: none;
   opacity: 0.95;
}
#RollOver1
{
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   margin: 0;
}
#RollOver1 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver1 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver1 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver1 .hover
{
   visibility: hidden;
}
#RollOver1:hover .hover
{
   visibility: visible;
}
#RollOver1:hover span
{
   visibility: hidden;
}
#RollOver1 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture1
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
.navbar-inverse { border-color: #080808; background-color: #333 !important; background-image: none !important; height: 60px; } body { font-family: 'Poppins', 'Roboto', sans-serif !important; } .navbar-inverse .navbar-nav>li>a { color: #bdbdbd; font-weight: 500; } .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a { border-radius: 5px; } .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; line-height: 10px; margin-top: 22px; } .navbar-nav {    margin-top: -7px;}
.glow { -webkit-animation-duration: 0.5s; -webkit-animation-name: glow; -webkit-animation-direction: alternate; -webkit-animation-iteration-count: infinite; animation-duration: 0.5s; animation-name: glow; animation-direction: alternate; animation-iteration-count: infinite; } @-webkit-keyframes glow { from { box-shadow: 0 0 10px red; } to { box-shadow: 0 0 30px red; } }
    .alert-danger, .alert-warning, .alert-success, .alert-info {position: relative;} .closedng {position: absolute; top: 13px; right: 12px; font-size: 20px; cursor: pointer;}
    #sparks {display: block; list-style: none; margin: 0; text-align: right;} .sparks-info {border-left: none; padding-left: 0; display: inline-block; max-height: 55px; overflow: hidden; padding: 0 10px; text-align: right;} #sparks li h5 {color: #555; float: left; font-size: 11px; font-weight: normal; margin: 0; padding: 0; border: none; text-transform: uppercase;} #sparks li span {font-size: 18px; line-height: 20px; margin: 0; color: #337ab7; font-weight: 500; text-transform: none; display: block;}
.table100.ver1 th {
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%); text-align: center;
}
.table100-head th {
    padding-top: 10px;
    padding-bottom: 10px; text-align: center;
}
.table100.ver1 {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    overflow: hidden;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.table100-body {
    max-height: 585px;
    overflow: auto;
    margin-top: 0px;
}
.table100-body td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.column1 {
    width: 20%;
    padding-left: 40px;
}
.column2, .column3, .column4, .column5 {
    width: 20%;
}
.table100.ver1 td {
    text-align: center;
}
.labeltablewt { position: absolute; top: -10px; left: 30px; z-index: 9999; background: #3296d8; color: #fff; padding: 5px 20px; border-radius: 5px 5px 0px 0px; }
.head .column1 {
    text-align: center !important;
}
.column1 {text-align: left !important;}
.smprice { font-size: 11px; opacity: .3; } .smprice:hover { opacity: .5; }
.head .column2 span {font-size: 13px; opacity: .7; font-weight: normal;}
